{% extends 'base.html' %}
{% load static %}

{% block panel %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar"> 
        
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'rutina_app:Creacion de Rutina'%}">DAR DE ALTA</a>
            </li>   

        </ul>

     
        <form method="GET" class="form-inline mx-5 ">
            <input class="form-control" type="text" placeholder="Buscar" id="dato" name="dato">
            <button class="btn btn-lg btn-success fa-solid fa-magnifying-glass" type="submit" data-toggle="tooltip" data-placement="right" title="Buscar"></button>
        </form>        
           <a class="fa-solid fa-circle-xmark btn btn-danger btn-lg" type="submit" href="{% url 'rutina_app:logout-rutina'%}"  data-toggle="tooltip" data-placement="right" title="Salir"></a>


    </div>

</nav>



<div class="table-responsive">

    <table class="table table-dark table-hover table-wrapper-scroll-y">
        <thead>
            <tr>
                <th>IDENTIFICADOR</th>
                <th>TIPO</th>
                <th>LUNES</th>
                <th>MARTES</th>
                <th>MIERCOLES</th>
                <th>JUEVES</th>
                <th>VIERNES</th>
                <th>SABADO</th>
                
            </tr>
        </thead>
    
        <tbody>
            
            {% for rutina in rutina %}

            <tr>
                <td>{{rutina.identificador_rutina}}</td>
                <td>{{rutina.tipo}}</td>
                <td>{{rutina.lunes}}</td>
                <td><a href="{% url 'entrenador_app:panel-entrenador' %}">a</a></td>
                <td>{{rutina.miercoles}}</td>
                <td>{{rutina.jueves}}</td>
                <td>{{rutina.viernes}}</td>
                <td>{{rutina.sabado}}</td>
                <td>
                    <div class="dropdown dropright">
                    
                    <button type="button" class="btn btn-outline-warning btn-sm dropdown-toggle" data-toggle="dropdown"> 
                    Accion
                    </button>
                    
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'rutina_app:Modificar Rutina' rutina.identificador_rutina%}">Modificar</a>
                            <a class="dropdown-item" href="{% url 'rutina_app:Detalles de Rutina' rutina.identificador_rutina%}">Detalles</a>
                            <a class="dropdown-item" href="{% url 'rutina_app:Borrar Rutina' rutina.identificador_rutina%}">Borrar</a>
                        </div>
                    </div>
                </td>
            </tr>
        
            {% endfor %}
        
        </tbody>
            
  </table>
    
</div>

<ul class="pagination justify-content-center" style="margin:20px 0">
    {% if is_paginated %}
        
        {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Atras</a></li>    
        {% endif %}
                
        
        {% for pagina in paginator.page_range %}
            {% ifequal pagina page_obj.number %} 
                <li class="page-item active"><a class="page-link">{{ pagina }}</a></li> 
            
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>       
            {% endifequal %}
        {% endfor %}
            
        {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a></li>
        {% endif %}
    {% endif %}
</ul>


{% endblock panel %}